<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <header>
        <div class="top">
            <div id="who">
                <img class="blackKnights" src="/images/logo.png" alt="black" />
                <span> Lelouch vi Britannia </span>
            </div>
            <div>
                <nav>
                    <ul>

                        <li><a href="/home">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/works">Works</a></li>
                        <li><a href="/photo-gallery">Photo Galery</a></li>

                    </ul>
                </nav>
            </div>
        </div>

    </header>

    <section>
        <p>He was chosen the most popular male character of 2006, 2007 and 2008 at Animage magazine's annual Anime Grand
            Prix. His Japanese voice actor Jun Fukuyama also won the "Best Actor in a Leading Role" award for his
            portrayal of the character at the first Seiyū Awards in 2007.
        </p>
        <p><b>Lelouch vi Britannia</b> (ルルーシュ・ヴィ・ブリタニア, <i>Rurūshu vi Buritania</i>) is the main protagonist of <a
                href="/wiki/Code_Geass:_Lelouch_of_the_Rebellion" title="Code Geass: Lelouch of the Rebellion">Code
                Geass: Lelouch of the Rebellion</a> and <a href="/wiki/Code_Geass:_Lelouch_of_the_Rebellion_R2"
                title="Code Geass: Lelouch of the Rebellion R2">Code Geass: Lelouch of the Rebellion R2</a>, and plays a
            supporting role in sidestories like <a href="/wiki/Code_Geass:_Oz_the_Reflection"
                title="Code Geass: Oz the Reflection">Code Geass: Oz the Reflection</a> and <a
                href="/wiki/Code_Geass:_Lancelot_%26_Guren" title="Code Geass: Lancelot &amp; Guren">Code Geass:
                Lancelot &amp; Guren</a>. After he was exiled, he used the alias, <b>Lelouch Lamperouge</b>
            (ルルーシュ・ランペルージ, <i>Rurūshu Ranperūji</i>). He was the Eleventh Prince of the <a
                href="/wiki/Holy_Britannian_Empire" title="Holy Britannian Empire">Holy Britannian Empire</a> and the
            son of the 98th Emperor of Britannia, <a href="/wiki/Charles_zi_Britannia"
                title="Charles zi Britannia">Charles zi Britannia</a>. He was also the leader and founder of The <a
                href="/wiki/Black_Knights" class="mw-redirect" title="Black Knights">Black Knights</a> and the real
            identity of <a href="/wiki/Zero" title="Zero">Zero</a>. He is voiced by <a href="/wiki/Jun_Fukuyama"
                title="Jun Fukuyama">Jun Fukuyama</a>, while his child self is voiced by Sayaka Ohara. His English dub
            voice is provided by <a href="/wiki/Johnny_Yong_Bosch" title="Johnny Yong Bosch">Johnny Yong Bosch</a> with
            Michelle Ruff doing Lelouch's child voice.
        </p>
        <p><b>Lelouch vi Britannia</b> (ルルーシュ・ヴィ・ブリタニア, <i>Rurūshu vi Buritania</i>) is the main protagonist of <a
                href="/wiki/Code_Geass:_Lelouch_of_the_Rebellion" title="Code Geass: Lelouch of the Rebellion">Code
                Geass: Lelouch of the Rebellion</a> and <a href="/wiki/Code_Geass:_Lelouch_of_the_Rebellion_R2"
                title="Code Geass: Lelouch of the Rebellion R2">Code Geass: Lelouch of the Rebellion R2</a>, and plays a
            supporting role in sidestories like <a href="/wiki/Code_Geass:_Oz_the_Reflection"
                title="Code Geass: Oz the Reflection">Code Geass: Oz the Reflection</a> and <a
                href="/wiki/Code_Geass:_Lancelot_%26_Guren" title="Code Geass: Lancelot &amp; Guren">Code Geass:
                Lancelot &amp; Guren</a>. After he was exiled, he used the alias, <b>Lelouch Lamperouge</b>
            (ルルーシュ・ランペルージ, <i>Rurūshu Ranperūji</i>). He was the Eleventh Prince of the <a
                href="/wiki/Holy_Britannian_Empire" title="Holy Britannian Empire">Holy Britannian Empire</a> and the
            son of the 98th Emperor of Britannia, <a href="/wiki/Charles_zi_Britannia"
                title="Charles zi Britannia">Charles zi Britannia</a>. He was also the leader and founder of The <a
                href="/wiki/Black_Knights" class="mw-redirect" title="Black Knights">Black Knights</a> and the real
            identity of <a href="/wiki/Zero" title="Zero">Zero</a>. He is voiced by <a href="/wiki/Jun_Fukuyama"
                title="Jun Fukuyama">Jun Fukuyama</a>, while his child self is voiced by Sayaka Ohara. His English dub
            voice is provided by <a href="/wiki/Johnny_Yong_Bosch" title="Johnny Yong Bosch">Johnny Yong Bosch</a> with
            Michelle Ruff doing Lelouch's child voice.
        </p>
        <b>Lelouch vi Britannia</b>
        (ルルーシュ・ヴィ・ブリタニア,
        <i>Rurūshu vi Buritania</i>
        ) is the main protagonist of
        <a href="/wiki/Code_Geass:_Lelouch_of_the_Rebellion" title="Code Geass: Lelouch of the Rebellion">Code Geass:
            Lelouch of the Rebellion</a>
        and
        <a href="/wiki/Code_Geass:_Lelouch_of_the_Rebellion_R2" title="Code Geass: Lelouch of the Rebellion R2">Code
            Geass: Lelouch of the Rebellion R2</a>
        , and plays a supporting role in sidestories like
        <a href="/wiki/Code_Geass:_Oz_the_Reflection" title="Code Geass: Oz the Reflection">Code Geass: Oz the
            Reflection</a>
        and
        <a href="/wiki/Code_Geass:_Lancelot_%26_Guren" title="Code Geass: Lancelot &amp; Guren">Code Geass: Lancelot
            &amp; Guren</a>
        . After he was exiled, he used the alias,
        <b>Lelouch Lamperouge</b>
        (ルルーシュ・ランペルージ,
        <i>Rurūshu Ranperūji</i>
        ). He was the Eleventh Prince of the
        <a href="/wiki/Holy_Britannian_Empire" title="Holy Britannian Empire">Holy Britannian Empire</a>
        and the son of the 98th Emperor of Britannia,
        <a href="/wiki/Charles_zi_Britannia" title="Charles zi Britannia">Charles zi Britannia</a>
        . He was also the leader and founder of The
        <a href="/wiki/Black_Knights" class="mw-redirect" title="Black Knights">Black Knights</a>
        and the real identity of
        <a href="/wiki/Zero" title="Zero">Zero</a>
        . He is voiced by
        <a href="/wiki/Jun_Fukuyama" title="Jun Fukuyama">Jun Fukuyama</a>
        , while his child self is voiced by Sayaka Ohara. His English dub voice is provided by
        <a href="/wiki/Johnny_Yong_Bosch" title="Johnny Yong Bosch">Johnny Yong Bosch</a>
        with Michelle Ruff doing Lelouch's child voice.

    </section>

</body>

</html>