<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">


</head>

<body>
    <header>
        <div class="top">
            <div id="who">
                <img class="blackKnights" src="/images/logo.png" alt="black" />
                <span> Lelouch vi Britannia </span>
            </div>
            <div>
                <nav>
                    <ul>

                        <li><a href="/home">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/works">Works</a></li>
                        <li><a href="/photo-gallery">Photo Galery</a></li>

                    </ul>
                </nav>
            </div>
        </div>
        <div class="Home">
            <h1>HOME</h1>
            <!-- <img class="npmLogo" src="images/npm-logo.png" alt="npm logo" /> -->
            <!-- add logo, search bar and buttons (or links and style them as buttons later) -->

            <form action="/url" method="post" class="form">
                <img class="magnifyingGlass" src="" alt="">
                <input type="tex" placeholder="Search">
                <button type="submit"> Search </button>
            </form>
        </div>

    </header>

</body>

</html>